<a href="https://colab.research.google.com/github/ramadhanridho16/Stock-Market-Prediction-Optimization/blob/main/SVM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1) Data Extraction & Data Cleaning

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yfinance
  Downloading yfinance-0.1.74-py2.py3-none-any.whl (27 kB)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.9.1)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.6)
Collecting requests>=2.26
  Downloading requests-2.28.1-py3-none-any.whl (62 kB)
     |████████████████████████████████| 62 kB 1.2 MB/s
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2022.2.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.1.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2022.6.15)
Installing collected packages: requests, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
Successfully installed requests-2.28.1 yfinance-0.1.74

In [3]:
import yfinance as yf

In [4]:
data_table = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')
data_table

[    Symbol              Security SEC filings             GICS Sector  \
 0      MMM                    3M     reports             Industrials
 1      AOS           A. O. Smith     reports             Industrials
 2      ABT                Abbott     reports             Health Care
 3     ABBV                AbbVie     reports             Health Care
 4     ABMD               Abiomed     reports             Health Care
 ..     ...                   ...         ...                     ...
 498    YUM           Yum! Brands     reports  Consumer Discretionary
 499   ZBRA    Zebra Technologies     reports  Information Technology
 500    ZBH         Zimmer Biomet     reports             Health Care
 501   ZION  Zions Bancorporation     reports              Financials
 502    ZTS                Zoetis     reports             Health Care

                       GICS Sub-Industry    Headquarters Location  \
 0              Industrial Conglomerates    Saint Paul, Minnesota
 1                     Building Products     Milwaukee, Wisconsin
 2                 Health Care Equipment  North Chicago, Illinois
 3                       Pharmaceuticals  North Chicago, Illinois
 4                 Health Care Equipment   Danvers, Massachusetts
 ..                                  ...                      ...
 498                         Restaurants     Louisville, Kentucky
 499  Electronic Equipment & Instruments   Lincolnshire, Illinois
 500               Health Care Equipment          Warsaw, Indiana
 501                      Regional Banks     Salt Lake City, Utah
 502                     Pharmaceuticals   Parsippany, New Jersey

     Date first added      CIK      Founded
 0         1976-08-09    66740         1902
 1         2017-07-26    91142         1916
 2         1964-03-31     1800         1888
 3         2012-12-31  1551152  2013 (1888)
 4         2018-05-31   815094         1981
 ..               ...      ...          ...
 498       1997-10-06  1041061         1997
 499       2019-12-23   877212         1969
 500       2001-08-07  1136869         1927
 501       2001-06-22   109380         1873
 502       2013-06-21  1555280         1952

 [503 rows x 9 columns],
                   Date  Added                                Removed  \
                   Date Ticker                       Security  Ticker
 0        June 21, 2022    KDP               Keurig Dr Pepper  UA/UAA
 1        June 21, 2022     ON               ON Semiconductor    IPGP
 2         June 8, 2022   VICI                Vici Properties    CERN
 3        April 4, 2022    CPT          Camden Property Trust    PBCT
 4        March 2, 2022    MOH              Molina Healthcare    INFO
 ..                 ...    ...                            ...     ...
 301       June 9, 1999    WLP                      Wellpoint     HFI
 302  December 11, 1998    FSR                        Firstar     LDW
 303  December 11, 1998    CCL                 Carnival Corp.     GRE
 304  December 11, 1998   CPWR                      Compuware     SUN
 305      June 17, 1997    CCI  Countrywide Credit Industries     USL

                                 \
                       Security
 0                 Under Armour
 1                IPG Photonics
 2                       Cerner
 3    People's United Financial
 4                   IHS Markit
 ..                         ...
 301   Harnischfeger Industries
 302                      Amoco
 303                 General Re
 304                 SunAmerica
 305                     USLife

                                                 Reason
                                                 Reason
 0                     Market capitalization change.[4]
 1                     Market capitalization change.[4]
 2    S&P 500 constituent Oracle Corp. acquired Cern...
 3    S&P 500 constituent M&T Bank Corp. acquired Pe...
 4    S&P 500 constituent S&P Global Inc. acquired I...
 ..                                                 ...
 301           Harnischfeger filed for bankruptcy.[231]
 302            British Petroleum purchased Amoco.[232]
 303      Berkshire Hathaway purchased General Re.[232]
 304                     AIG purchased SunAmerica.[232]
 305                          AIG acquired USLife.[233]

 [306 rows x 6 columns]]

In [5]:
len(data_table)

2

In [26]:
new_data = data_table[0]
new_data

,Symbol,Security,SEC filings,GICS Sector,GICS Sub-Industry,Headquarters Location,Date first added,CIK,Founded
0,MMM,3M,reports,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1976-08-09,66740,1902
1,AOS,A. O. Smith,reports,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800,1888
3,ABBV,AbbVie,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ABMD,Abiomed,reports,Health Care,Health Care Equipment,"Danvers, Massachusetts",2018-05-31,815094,1981
...,...,...,...,...,...,...,...,...,...
498,YUM,Yum! Brands,reports,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
499,ZBRA,Zebra Technologies,reports,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
500,ZBH,Zimmer Biomet,reports,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
501,ZION,Zions Bancorporation,reports,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380,1873
502,ZTS,Zoetis,reports,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

In [35]:
# Using symbol to get name of stock components from yfinance API using ticker module

symbol_stock = list(new_data.iloc[0:, 0])
symbol_stock

['MMM',
 'AOS',
 'ABT',
 'ABBV',
 'ABMD',
 'ACN',
 'ATVI',
 'ADM',
 'ADBE',
 'ADP',
 'AAP',
 'AES',
 'AFL',
 'A',
 'APD',
 'AKAM',
 'ALK',
 'ALB',
 'ARE',
 'ALGN',
 'ALLE',
 'LNT',
 'ALL',
 'GOOGL',
 'GOOG',
 'MO',
 'AMZN',
 'AMCR',
 'AMD',
 'AEE',
 'AAL',
 'AEP',
 'AXP',
 'AIG',
 'AMT',
 'AWK',
 'AMP',
 'ABC',
 'AME',
 'AMGN',
 'APH',
 'ADI',
 'ANSS',
 'AON',
 'APA',
 'AAPL',
 'AMAT',
 'APTV',
 'ANET',
 'AJG',
 'AIZ',
 'T',
 'ATO',
 'ADSK',
 'AZO',
 'AVB',
 'AVY',
 'BKR',
 'BALL',
 'BAC',
 'BBWI',
 'BAX',
 'BDX',
 'WRB',
 'BRK.B',
 'BBY',
 'BIO',
 'TECH',
 'BIIB',
 'BLK',
 'BK',
 'BA',
 'BKNG',
 'BWA',
 'BXP',
 'BSX',
 'BMY',
 'AVGO',
 'BR',
 'BRO',
 'BF.B',
 'CHRW',
 'CDNS',
 'CZR',
 'CPT',
 'CPB',
 'COF',
 'CAH',
 'KMX',
 'CCL',
 'CARR',
 'CTLT',
 'CAT',
 'CBOE',
 'CBRE',
 'CDW',
 'CE',
 'CNC',
 'CNP',
 'CDAY',
 'CF',
 'CRL',
 'SCHW',
 'CHTR',
 'CVX',
 'CMG',
 'CB',
 'CHD',
 'CI',
 'CINF',
 'CTAS',
 'CSCO',
 'C',
 'CFG',
 'CTXS',
 'CLX',
 'CME',
 'CMS',
 'KO',
 'CTSH',
 'CL',
 'CMCSA',
 'CMA',
 'CAG',
 'COP',
 'ED',
 'STZ',
 'CEG',
 'COO',
 'CPRT',
 'GLW',
 'CTVA',
 'COST',
 'CTRA',
 'CCI',
 'CSX',
 'CMI',
 'CVS',
 'DHI',
 'DHR',
 'DRI',
 'DVA',
 'DE',
 'DAL',
 'XRAY',
 'DVN',
 'DXCM',
 'FANG',
 'DLR',
 'DFS',
 'DISH',
 'DIS',
 'DG',
 'DLTR',
 'D',
 'DPZ',
 'DOV',
 'DOW',
 'DTE',
 'DUK',
 'DRE',
 'DD',
 'DXC',
 'EMN',
 'ETN',
 'EBAY',
 'ECL',
 'EIX',
 'EW',
 'EA',
 'ELV',
 'LLY',
 'EMR',
 'ENPH',
 'ETR',
 'EOG',
 'EPAM',
 'EFX',
 'EQIX',
 'EQR',
 'ESS',
 'EL',
 'ETSY',
 'RE',
 'EVRG',
 'ES',
 'EXC',
 'EXPE',
 'EXPD',
 'EXR',
 'XOM',
 'FFIV',
 'FDS',
 'FAST',
 'FRT',
 'FDX',
 'FITB',
 'FRC',
 'FE',
 'FIS',
 'FISV',
 'FLT',
 'FMC',
 'F',
 'FTNT',
 'FTV',
 'FBHS',
 'FOXA',
 'FOX',
 'BEN',
 'FCX',
 'GRMN',
 'IT',
 'GNRC',
 'GD',
 'GE',
 'GIS',
 'GM',
 'GPC',
 'GILD',
 'GL',
 'GPN',
 'GS',
 'HAL',
 'HIG',
 'HAS',
 'HCA',
 'PEAK',
 'HSIC',
 'HSY',
 'HES',
 'HPE',
 'HLT',
 'HOLX',
 'HD',
 'HON',
 'HRL',
 'HST',
 'HWM',
 'HPQ',
 'HUM',
 'HBAN',
 'HII',
 'IBM',
 'IEX',
 'IDXX',
 'ITW',
 'ILMN',
 'INCY',
 'IR',
 'INTC',
 'ICE',
 'IP',
 'IPG',
 'IFF',
 'INTU',
 'ISRG',
 'IVZ',
 'IQV',
 'IRM',
 'JBHT',
 'JKHY',
 'J',
 'JNJ',
 'JCI',
 'JPM',
 'JNPR',
 'K',
 'KDP',
 'KEY',
 'KEYS',
 'KMB',
 'KIM',
 'KMI',
 'KLAC',
 'KHC',
 'KR',
 'LHX',
 'LH',
 'LRCX',
 'LW',
 'LVS',
 'LDOS',
 'LEN',
 'LNC',
 'LIN',
 'LYV',
 'LKQ',
 'LMT',
 'L',
 'LOW',
 'LUMN',
 'LYB',
 'MTB',
 'MRO',
 'MPC',
 'MKTX',
 'MAR',
 'MMC',
 'MLM',
 'MAS',
 'MA',
 'MTCH',
 'MKC',
 'MCD',
 'MCK',
 'MDT',
 'MRK',
 'META',
 'MET',
 'MTD',
 'MGM',
 'MCHP',
 'MU',
 'MSFT',
 'MAA',
 'MRNA',
 'MHK',
 'MOH',
 'TAP',
 'MDLZ',
 'MPWR',
 'MNST',
 'MCO',
 'MS',
 'MOS',
 'MSI',
 'MSCI',
 'NDAQ',
 'NTAP',
 'NFLX',
 'NWL',
 'NEM',
 'NWSA',
 'NWS',
 'NEE',
 'NLSN',
 'NKE',
 'NI',
 'NDSN',
 'NSC',
 'NTRS',
 'NOC',
 'NLOK',
 'NCLH',
 'NRG',
 'NUE',
 'NVDA',
 'NVR',
 'NXPI',
 'ORLY',
 'OXY',
 'ODFL',
 'OMC',
 'ON',
 'OKE',
 'ORCL',
 'OGN',
 'OTIS',
 'PCAR',
 'PKG',
 'PARA',
 'PH',
 'PAYX',
 'PAYC',
 'PYPL',
 'PENN',
 'PNR',
 'PEP',
 'PKI',
 'PFE',
 'PM',
 'PSX',
 'PNW',
 'PXD',
 'PNC',
 'POOL',
 'PPG',
 'PPL',
 'PFG',
 'PG',
 'PGR',
 'PLD',
 'PRU',
 'PEG',
 'PTC',
 'PSA',
 'PHM',
 'PVH',
 'QRVO',
 'PWR',
 'QCOM',
 'DGX',
 'RL',
 'RJF',
 'RTX',
 'O',
 'REG',
 'REGN',
 'RF',
 'RSG',
 'RMD',
 'RHI',
 'ROK',
 'ROL',
 'ROP',
 'ROST',
 'RCL',
 'SPGI',
 'CRM',
 'SBAC',
 'SLB',
 'STX',
 'SEE',
 'SRE',
 'NOW',
 'SHW',
 'SBNY',
 'SPG',
 'SWKS',
 'SJM',
 'SNA',
 'SEDG',
 'SO',
 'LUV',
 'SWK',
 'SBUX',
 'STT',
 'STE',
 'SYK',
 'SIVB',
 'SYF',
 'SNPS',
 'SYY',
 'TMUS',
 'TROW',
 'TTWO',
 'TPR',
 'TGT',
 'TEL',
 'TDY',
 'TFX',
 'TER',
 'TSLA',
 'TXN',
 'TXT',
 'TMO',
 'TJX',
 'TSCO',
 'TT',
 'TDG',
 'TRV',
 'TRMB',
 'TFC',
 'TWTR',
 'TYL',
 'TSN',
 'USB',
 'UDR',
 'ULTA',
 'UNP',
 'UAL',
 'UPS',
 'URI',
 'UNH',
 'UHS',
 'VLO',
 'VTR',
 'VRSN',
 'VRSK',
 'VZ',
 'VRTX',
 'VFC',
 'VTRS',
 'VICI',
 'V',
 'VNO',
 'VMC',
 'WAB',
 'WBA',
 'WMT',
 'WBD',
 'WM',
 'WAT',
 'WEC',
 'WFC',
 'WELL',
 'WST',
 'WDC',
 'WRK',
 'WY',
 'WHR',
 'WMB',
 'WTW',
 'GWW',
 'WYNN',
 'XEL',
 'XYL',
 'YUM',
 'ZBRA',
 'ZBH',
 'ZION',
 'ZTS']

In [19]:
yf.download('MMM', start = '2022-08-01', end = '2022-08-30')

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-08-01,142.149994,144.059998,141.580002,143.360001,141.903717,2855900
2022-08-02,142.589996,143.559998,141.630005,141.750000,140.310074,2697700
2022-08-03,141.899994,143.809998,141.550003,143.490005,142.032410,2735500
2022-08-04,143.490005,148.330002,143.199997,148.119995,146.615372,5904900
2022-08-05,147.009995,148.490005,146.389999,147.410004,145.912582,4187400
2022-08-08,148.029999,150.149994,147.580002,148.479996,146.971710,3148500
2022-08-09,148.309998,149.050003,147.190002,147.839996,146.338211,3033500
2022-08-10,149.880005,150.610001,148.839996,149.380005,147.862579,2547000
2022-08-11,150.000000,151.440002,149.369995,149.660004,148.139725,2298300
2022-08-12,150.369995,152.300003,150.000000,152.240005,150.693527,2346800
2022-08-15,151.389999,152.100006,150.479996,151.429993,149.891739,2338200
2022-08-16,150.470001,151.309998,148.880005,150.259995,148.733627,4392500
2022-08-17,148.440002,148.789993,147.070007,147.429993,145.932373,4876900
2022-08-18,147.399994,147.440002,145.380005,146.679993,145.189987,5654300
2022-08-19,144.610001,145.649994,143.210007,145.199997,145.199997,12713200
2022-08-22,143.279999,143.679993,141.029999,141.589996,141.589996,10183400
2022-08-23,141.000000,142.419998,140.710007,141.750000,141.750000,15358400
2022-08-24,140.910004,141.589996,139.710007,141.039993,141.039993,15430500
2022-08-25,141.070007,143.270004,140.639999,142.759995,142.759995,47355600
2022-08-26,143.639999,144.009995,128.679993,129.139999,129.139999,38384100
2022-08-29,128.789993,128.789993,125.269997,126.440002,126.440002,50532400

In [42]:
data = yf.download(symbol_stock, start='2022-08-01', end='2022-08-30')['Adj Close']

[*********************100%***********************]  503 of 503 completed

2 Failed downloads:
- BF.B: No data found for this date range, symbol may be delisted
- BRK.B: No data found, symbol may be delisted

In [43]:
data

,A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADBE,...,WYNN,XEL,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2022-08-01,133.429993,14.28,195.990005,161.285965,140.220001,145.477097,291.899994,109.519997,304.739990,411.089996,...,63.540001,73.190002,93.570847,35.980000,90.900490,122.141113,109.760002,358.429993,53.555168,179.740005
2022-08-02,131.279999,14.06,195.020004,159.788040,140.389999,142.366791,293.630005,108.639999,302.480011,409.959991,...,64.410004,73.449997,93.164787,35.570000,95.056801,121.534088,114.059998,323.320007,52.730938,178.830002
2022-08-03,134.559998,14.63,195.270004,165.899567,141.199997,138.568619,301.459991,109.610001,308.170013,424.540009,...,66.290001,74.309998,90.144135,35.900002,96.990425,119.225410,115.610001,326.410004,53.584961,180.160004
2022-08-04,133.770004,14.86,191.559998,165.580002,138.919998,138.837784,292.239990,109.720001,310.609985,430.589996,...,67.099998,74.559998,86.350998,35.910000,97.379143,119.434387,113.349998,330.579987,52.939480,174.309998
2022-08-05,133.610001,14.74,193.419998,165.350006,138.039993,140.871445,291.500000,109.250000,309.350006,433.429993,...,66.709999,73.800003,87.598862,36.840000,96.900719,117.842194,113.260002,331.700012,53.624683,174.610001
2022-08-08,132.520004,15.02,194.289993,164.869995,140.339996,140.183578,293.769989,109.000000,310.329987,434.339996,...,65.889999,73.900002,88.094055,36.990002,99.332710,117.921806,113.160004,330.320007,53.714058,174.009995
2022-08-09,128.880005,14.62,191.770004,164.919998,140.250000,144.270859,281.709991,107.910004,309.790009,426.570007,...,66.029999,74.820000,89.718269,36.310001,97.727997,116.359467,112.489998,320.149994,54.250305,169.550003
2022-08-10,132.580002,15.07,194.690002,169.240005,140.940002,145.128189,293.339996,110.269997,316.480011,438.399994,...,65.349998,75.110001,90.570000,37.040001,100.150017,118.598488,114.970001,328.869995,55.998070,174.059998
2022-08-11,131.949997,14.99,197.419998,168.490005,142.080002,147.759995,290.929993,110.489998,314.420013,434.890015,...,67.570000,74.610001,93.190002,37.169998,100.807846,117.135658,115.000000,336.000000,56.852093,173.179993
2022-08-12,133.550003,15.25,202.529999,172.100006,142.600006,150.500000,293.589996,111.480003,320.440002,445.670013,...,68.739998,75.959999,94.000000,37.650002,103.040489,117.583466,117.220001,346.739990,57.815353,175.669998
2022-08-15,133.899994,15.33,205.330002,173.190002,142.289993,150.820007,295.059998,111.900002,320.329987,451.019989,...,68.330002,76.690002,92.320000,37.599998,103.160095,117.663071,116.730003,349.410004,58.232433,174.449997
2022-08-16,132.770004,15.50,209.600006,173.029999,142.550003,152.660004,291.119995,112.029999,320.779999,447.559998,...,67.839996,77.010002,91.459999,36.779999,103.618584,118.459167,116.120003,344.910004,58.580002,171.789993
2022-08-17,142.289993,14.96,209.979996,174.550003,141.440002,149.529999,281.820007,110.550003,318.450012,437.820007,...,65.419998,76.930000,92.199997,35.750000,101.983971,118.528831,114.639999,340.450012,58.669998,172.460007
2022-08-18,139.970001,14.84,207.490005,174.149994,141.289993,149.910004,278.179993,109.959999,319.459991,439.029999,...,65.510002,76.989998,94.379997,36.360001,102.013870,117.374481,114.519997,342.380005,58.790001,170.169998
2022-08-19,137.619995,14.17,207.020004,171.520004,141.850006,152.029999,270.679993,110.059998,315.290009,425.059998,...,63.669998,76.940002,94.080002,35.779999,99.203133,116.080833,113.230003,328.410004,57.619999,169.520004
2022-08-22,133.940002,13.71,198.479996,167.570007,140.339996,148.990005,261.350006,107.449997,310.000000,411.350006,...,60.500000,76.199997,94.010002,34.470001,96.661514,114.180145,111.360001,315.880005,56.000000,165.039993
2022-08-23,132.639999,13.82,199.050003,167.229996,139.020004,148.020004,262.230011,106.010002,306.700012,410.410004,...,61.490002,75.349998,98.000000,34.299999,95.834236,114.150291,109.300003,316.989990,56.189999,162.419998
2022-08-24,133.669998,13.99,179.910004,167.529999,137.910004,148.229996,268.040009,105.440002,306.260010,405.649994,...,62.820000,75.410004,98.580002,34.360001,95.814301,114.110489,109.699997,319.339996,56.279999,162.630005
2022-08-25,136.009995,14.42,180.990005,170.029999,139.330002,150.419998,274.450012,105.889999,309.769989,403.929993,...,64.949997,76.080002,99.089996,34.759998,97.229637,116.250000,111.940002,330.140015,57.310001,165.529999
2022-08-26,129.869995,13.74,173.589996,163.619995,136.350006,146.190002,258.119995,101.900002,298.130005,381.019989,...,62.330002,74.930000,97.870003,33.610001,92.664680,112.160004,107.510002,308.160004,56.439999,159.889999
2022-08-29,128.110001,13.51,170.539993,161.380005,135.710007,147.490005,256.980011,101.839996,295.140015,375.260010,...,62.410000,75.620003,100.120003,33.080002,91.747704,112.209999,107.620003,307.899994,55.750000,157.869995